.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
    background-color: rgba(0,0,0,0.04);
    height: 100dvh;
    width: 100dvw;
    background-image: url(../../../assets/img/maxresdefault.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}


.header{
    font-size: 22px;
    color: rgba(255,255,255,0.8);
    position: absolute;
    top: 100px;
}

.search-container{
    display: flex;
    height: 4cap;
    position: relative;
    width: 500px;
    
    input{
        width:80%;
        font-size: 18px;
        padding: 12px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        &:focus{
            outline: none;
        }
    }
    button{
        width:20%;
        border-style: none;
        background-color: rgb(4,30,89);
        cursor: pointer;
        color: white;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        font-weight: 500;
        font-size: 16px;
        &:hover{
            background-color: rgb(0, 0, 255,0.8);
            font-weight: 600;
        }
    }
}

.interaction-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    
}

.stats-container{
    display: flex;
    gap: 50px;
    color: white;
    ul{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0;
        padding: 0;
   list-style-type: none;
    }
    
}

.searchError{
    color: red;
    margin: 0 !important;
    font-size: 18px;
    
}

.profile{
    display: flex;
    flex-direction: column;
    gap: 18px;
    text-align: center;
    img{
        width: 60px;
        height: 60px;
        border-radius: 100%;
    }
}