<div class="main-container">
  <h1 class="header">
    Welcome Summoner! This is my League Of Legends Tool! Currently in
    Development!
  </h1>

  <div class="interaction-container">
    <div class="search-container">
      <input (keyup.enter)="initSummonerSearch()"  [(ngModel)]="name" class="name" placeholder="SUMMONER#EUW" />
      <button (click)="initSummonerSearch()" class="search-btn">SEARCH</button>
    </div>
<!-- DISPLAY SUMMONER STATS -->
    <div class="stats-container">
      @if(loadingDone){

      <ul>
        <li>Rank: {{ this.rank }} {{ this.divison }} {{this.lp}} LP</li>
        <li>Wins: {{ this.wins }}</li>
        <li>Losses: {{ this.losses}}</li>
      </ul>

      <ul>
        <li>Summoner Level: {{ this.summonerLevel }}</li>
        <li>Winrate: {{ this.winrate }}</li>
      </ul>

      }
      @if(searchError){
        <h5 class="searchError">Missing SummonerTag e.g #EUW. Please type your full SummonerTag.</h5>
      }
    </div>
  </div>
</div>
